<div class="row" ng-controller="UsersListCtrl">
  <div class="project-grid col-xs-offset-2 col-xs-8">
    <div class="row">
      <div masonry>
        <div class="col-sm-2 masonry-brick" ng-repeat="user in users">
          <a class="thumbnail link ellipsis" ui-sref="user-details({userId: user._id})">
            <identicon username="user.userName" size="100" />
            <span class="label" ng-bind="user.userName"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
