<div ng-controller="login">
    <form class="login-form">
      <h2 class="login-form-heading">Please login</h2>
      <input class="form-control" type="text" placeholder="Name" required="" ng-model="user.userName">
      <input class="form-control" type="password" placeholder="Password" required="" ng-model="user.password">
      <button class="btn btn-lg btn-primary btn-block" ng-click="login()">
        Login
      </button>
      <button class="btn btn-lg btn-primary btn-block" ng-click="goToRegister()">
        Register
      </button>
    </form>

    <!-- <button class="button button-positive button-clear button-full" ui-sref="outside.register">Register now!</button> -->
</div>
