.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
    margin: 0;
    height: 100%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*NAVBAR*/
.navbar .user-menu {
  max-width: 200px;
}

.navbar .new-notifications {
  color: red !important;
}

.navbar .upload-artwork-button {
  margin-right: 10px;
}
/* Make the masthead heading the same height as the navigation */

.login-form, .register-form  {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1)
}

.login-form input[type="text"], .register-form input[type="text"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-form input[type="password"], .register-form input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-form-heading, .register-form-heading  {
  margin-bottom: 30px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* ARTWORK*/
.upload-artwork-form ul {
  list-style: none;
  padding: 0;
}

.artwork-details .artwork-piece{
  width:100%;
}


/*MODALS*/
.artworks-modal .cover{
  width: 100%;
}

.artworks-modal .thumbnail {
  transition: border .2s ease-in-out;
}

.artworks-modal .thumbnail:hover {
  border-color: #337ab7;
}


.artworks-modal .thumbnail.active {
  border-color: #337ab7;
}

/*HELPER CLASSES*/
.wrap-text {
  word-break: break-word;
}

.ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
