<div class="row" ng-controller="ProjectsListCtrl">
  <div class="artwork-grid col-xs-offset-2 col-xs-8">
    <div class="row" >
      <div masonry>
          <div class="col-sm-2 masonry-brick" ng-repeat="artwork in artworks" ng-hide="artwork.hideProject">
            <div class="thumbnail">
              <img class="cover" ng-src="{{artwork.coverUrl}}">
              <div class="caption ellipsis">
                <a ng-bind="artwork.artworkName" ui-sref="artwork-details({artworkId: artwork._id})"><a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
