<div ng-controller="uploadController">
  <div>Create your own artwork</div>
  <form class="upload-artwork-form" name="uploadForm" ng-submit=uploader.uploadAll() novalidate>
    <div class="form-group" ng-class="{'has-error' : uploadForm.artworkName.$invalid && !uploadForm.artworkName.$pristine}">
      <label>Name</label>
      <input type="text" class="form-control" name="artworkName" ng-model="fileName" required>
      <p class="error help-block" ng-show="uploadForm.artworkName.$invalid && !uploadForm.artworkName.$pristine">
        Required!
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error' : uploadForm.artworkDescription.$invalid && !uploadForm.artworkDescription.$pristine}">
      <label>Description</label>
      <textarea type="text" class="form-control" name="artworkDescription" ng-model="description" required></textarea>
      <p class="error help-block" ng-show="uploadForm.artworkDescription.$invalid && !uploadForm.artworkDescription.$pristine">
        Required!
      </p>
    </div>
    <ul>
      <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"><canvas width="66.66666666666666" height="100"></canvas></div>
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
      </li>
    </ul>
    <label class="btn btn-default btn-file">
      Select artwork pieces <input type="file" name="artworkItem" nv-file-select uploader="uploader" multiple style="display: none;">
    </label>
    <button type="submit" class="btn btn-primary" ng-show="uploader.queue.length > 0" ng-disabled="uploadForm.$invalid">Upload</button>
  </form>
</div>
