<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-repeat="user in users">
          <div class="col-xs-4">
            <a ui-sref="user-details({userId: user._id})" target="_blank">
              <identicon username="user.userName" size="100" />
              <span ng-bind="user.userName"></span>
            </a>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <label><input ng-model="selected" type="checkbox" ng-change="inviteArtist(user, selected, $event)">Invite to studio</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendInvitations(); $hide()">Invite</button>
      </div>
    </div>
  </div>
</div>
