<div class="project-details row" ng-controller="ProjectDetailsCtrl">
  <div class="col-xs-offset-2 col-xs-2">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Description</div>
          <div class="panel-body ellipsis" ng-bind="project.projectDescription">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Visibility</div>
          <div class="panel-body ellipsis" ng-bind="project.visibility" ng-show="viewMode == 'read'">
          </div>
          <div class="panel-body ellipsis" ng-show="viewMode == 'edit'">
            <input
              bs-switch
              ng-model="project.visibility"
              type="checkbox"
              switch-on-text="public"
              switch-off-text="private"
              switch-change="onVisibilityChange()"
              ng-true-value="'public'"
              ng-false-value="'private'">
          </div>
        </div>
        <div class="panel panel-default" ng-show="isAuthenticated()">
          <div class="panel-heading">Options</div>
          <div class="panel-body">
            <button type="button" class="btn btn-primary" ng-show="isAuthorized() && viewMode == 'read'" ng-click="enterEditMode()">
              Edit Mode
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-show="isAuthorized() && viewMode == 'edit'" ng-click="saveChanges()">
              Save Changes
              <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <button class="btn btn-primary" type="button" ng-show="isAuthorized()" ng-click="showModal()">
              Invite people
            </button>
            <button class="btn btn-primary" type="button" ng-show="!isAuthorized()" ng-disabled="applied" ng-click="apply()">
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading ellipsis" ng-bind="project.projectName"></div>
        <div class="panel-body">
          <div ng-repeat="item in project.files" >
            <div class="panel panel-default" ng-show="item.projectItemTitle">
              <div class="panel-body" ng-bind="item.projectItemTitle">
              </div>
            </div>
            <img class="project-piece" ng-src="{{item.datailUrl}}">
            <div class="panel panel-default" ng-show="item.projectItemDescription">
              <div class="panel-body" ng-bind="item.projectItemDescription">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
