<div class="row" ng-controller="CreateStudioCtrl">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">Create your project</div>
      <div class="panel-body">
        <form class="create-studio-form" name="createForm" novalidate>
          <div class="form-group" ng-class="{'has-error' : createForm.studioName.$invalid && !createForm.studioName.$pristine}">
            <label>Name</label>
            <input type="text" class="form-control" name="studioName" ng-model="studioName" required>
            <p class="error help-block" ng-show="createForm.studioName.$invalid && !createForm.studioName.$pristine">
              Required!
            </p>
          </div>

          <div class="form-group" ng-class="{'has-error' : createForm.studioDescription.$invalid && !createForm.studioDescription.$pristine}">
            <label>Description</label>
            <textarea type="text" class="form-control" name="studioDescription" ng-model="studioDescription" required></textarea>
            <p class="error help-block" ng-show="createForm.studioDescription.$invalid && !createForm.studioDescription.$pristine">
              Required!
            </p>
          </div>

          <div class="form-group">
            <label ng-show="selectedArtworks.length > 0">Selected artworks</label>
            <div class="row">
              <div class="artwork col-sm-1" ng-repeat="artwork in selectedArtworks">
                <div class="thumbnail">
                  <img class="cover" ng-click="" ng-src="{{artwork.coverUrl}}">
                  <div class="caption ellipsis">
                  <a ng-bind="artwork.artworkName" ui-sref="details({artworkId: artwork._id})"></a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" type="button" ng-click="showModal()" ng-show="userArtworks.length > 0">
                Select artworks
              </button>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid || !selectedArtworks.length > 0" ng-click="createStudio()">Submit</button>
        </form>
      </div>
  </div>
</div>
