<div class="studio-details row" ng-controller="StudioDetailsCtrl">
  <div class="col-xs-offset-2 col-xs-2">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Description</div>
          <div class="panel-body ellipsis" ng-bind="studio.studioDescription">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">Actions</div>
          <div class="panel-body">
            <button class="btn btn-primary" type="button" ng-show="isAuthorized()"  ng-click="showModal()">
              Invite people
            </button>
            <button class="btn btn-primary" type="button" ng-show="isAuthenticated() && !isAuthorized()" ng-disabled="applied" ng-click="apply()">
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="artwork-grid col-xs-6">
    <div class="row">
      <div class="col-xs-2" ng-repeat="artwork in studioArtworks">
        <a class="thumbnail" ui-sref="artwork-details({artworkId: artwork._id})">
          <img class="cover" ng-click="" ng-src="{{artwork.coverUrl}}">
          </img>
          <span class="ellipsis" ng-bind="artwork.artworkName"></span>
        </a>
      </div>
    </div>
  </div>
</div>
